<footer class="py-5">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom">
      <div class="mb-3">
        <a class="d-inline-block" href="/">
            <%= image_tag "logo_text.png", class: "img-fluid", width: "96px" %>
        </a>
      </div>
      <div>
        <ul class="list-unstyled d-flex flex-wrap align-items-center">
          <% if current_user %>
            <li class="me-4">
              <%= link_to "Mon compte", my_account_path, class: "link-secondary" %>
            </li>
          <% end %>
          <% if current_user && current_user.role == "admin" %>
            <li class="me-4">
              <%= link_to "Books", books_path, class: "link-danger" %>
            </li>
            <li class="me-4">
              <%= link_to "Categories", categories_path, class: "link-danger" %>
            </li>
          <% end %>
          <li class="me-4"><%= link_to "Conditions", public_conditions_path, class: "link-secondary" %></li>
          <li class="me-4"><%= link_to "Confidentialité", public_privacy_path, class: "link-secondary" %></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
  <div class="container">
    <div class="text-muted d-flex flex-wrap align-items-center justify-content-between">
      <p contenteditable="false">© ULPS, made with 💜 by Harry Jmg<br>2022</p>
    </div>
  </div>
</footer>