<section class="position-relative py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 me-auto mb-5">
        <div>
          <div class="mx-auto text-center py-5">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= bootstrap_devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
              <span class="text-muted">ULPS</span>
              <h3 class="fw-bold mb-5"><%= t('.change_your_password') %></h3>
              <%= f.password_field :password, autofocus: true, class: 'form-control mb-2', placeholder: "Nouveau mot de passe" %>
              <% if @minimum_password_length %>
                <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
              <% end %>
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control mb-2', placeholder: "Confirmation du mot de passe" %>
              <%= f.submit t('.change_my_password'), class: 'btn btn-primary py-2 w-100 mb-3' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
