<section class="position-relative py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 me-auto mb-5">
        <div>
          <div class="mx-auto text-center py-5">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <span class="text-muted">ULPS</span>
              <h3 class="fw-bold mb-5"><%= t('.forgot_your_password') %></h3>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control mb-2', placeholder: "Email" %>
              <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary py-2 w-100 mb-3' %>
            <% end %>
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
