<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= episode.book_id %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= episode.creator_id %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= episode.duration %>
  </p>

  <p>
    <strong>Affiliate link:</strong>
    <%= episode.affiliate_link %>
  </p>

  <p>
    <strong>Mp3 url:</strong>
    <%= episode.mp3_url %>
  </p>

  <p>
    <strong>Preview url:</strong>
    <%= episode.preview_url %>
  </p>

</div>
