<% provide(:title, controller.action_name == "user_episodes" ? "Mes épisodes" : "Épisodes") %>

<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto">
        <span class="text-muted" contenteditable="false">ULPS</span>
        <h2 class="display-5 fw-bold mt-2 mb-3" contenteditable="false"><%= controller.action_name == 'user_episodes' ? 'Mes épisodes ULPS' :  'Tous les épisodes ULPS' %></h2>
        <p class="lead text-muted" contenteditable="false">Découvre un nouveau résumé ici chaque semaine.</p>
      </div>
    </div>
    <div class="row my-5">
      <ul class="list-group list-group-flush">
        <% @episodes.each do |episode| %>
          <li class="list-group-item">
            <div class="row mb-2">
              <div class="col-md-auto col-12">
                <%= link_to episode_path(episode), class: "link-episode-image" do %>
                  <%= image_tag episode.book.image_url, alt:"Image de l'épisode #{episode.book.title}", class: "rounded-3 episode-image border-grey" %>
                <% end %>
              </div>
              <div class="col-md-8 col-12">
                <% if episode.users.include?(current_user) %>
                  <div class="text-muted"><small>Ajouté à vos épisodes le: <%= episode.user_episodes.find_by(user: current_user).created_at.strftime("%d/%m/%Y") %></small></div>
                <% end %>
                <h3 class="fw-bold"><%= episode.book.title %></h3>
                
                <h6 class="text-muted"><%= episode.book.subtitle %></h6>
                <div class="text-muted">Auteur: <%= episode.book.author %></div>
                <div class="text-muted">Durée: <%= episode.duration / 60 %> minutes</div>
                <%= render "episodes/index_buttons", episode: episode %>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>