<section class="position-relative">
  <div class="position-relative">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4">
      <div class="container">
        <a class="d-none d-lg-block navbar-brand" href="#">
          <%= image_tag "logo_text.png", class: "img-fluid", width: "96px" %>
        </a>
        <a class="d-lg-none navbar-brand" href="#">
          <%= image_tag "logo_text.png", class: "img-fluid", width: "96px" %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header02" aria-controls="header02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header02">
          <ul class="navbar-nav ms-auto mt-3 mt-lg-0 mb-3 mb-lg-0 me-4">
            <li class="nav-item me-4">
                <a class="nav-link" href="/episodes">Voir tous les livres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/checkout">Obtenir un livre gratuit</a>
            </li>
          </ul>
          <div>
            <a class="btn btn-primary" href="/users/sign_in">Se connecter</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row pt-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tous les livres</a></li>
            <li class="breadcrumb-item active"><%= link_to @episode.book.categories.first.name, "category_path(@episode.book.category)" %></li>
          </ol>
        </nav>
      </div>
      <div class="row pt-4">
        <div class="col-sm-12 col-lg-3 ms-auto">
          <div class="mb-4" style="width: fit-content">
            <%= image_tag @episode.book.image_url, class: "img-fluid rounded-3 mb-1", width: "232px" %>
            <div class="d-grid gap-2">
              <a class="btn btn-secondary" href="/checkout">▶ Extrait</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-5 ms-auto">
          <div class="mb-5">
            <h2 class="display-6 fw-bold"><%= @episode.book.title %></h2>
            <div class="mb-4 lead text-muted"><%= @episode.book.subtitle %></div>
            <div>Auteur: <%= @episode.book.author %></div>
            <div>Durée: <%= @episode.duration / 60 %> minutes</div>
            <div>Catégorire: <%= link_to @episode.book.categories.first.name, "category_path(@episode.book.category)" %></div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 ms-auto">
          <div class="mb-5">
            <div class="d-grid gap-2">
                <a class="btn btn-primary me-2 mb-2 mb-sm-0" href="/checkout">0,00 € avec l'offre d'essai</a>
            </div>
            <p class="text-muted mt-2" style="font-size: small">5,95 €/mois après 30 jours. Résiliation libre.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="position-relative pb-5">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12 col-lg-8">
        <div class="mb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-auto">
              <div class="creator_thumbnail img-thumbnail" style="width: 80px;height: 80px; border-width: 5px;">
                <%= image_tag "harry_thumbnail.png" %>
              </div>
            </div>
            <div class="col-sm-12 col-lg-8">
              <div class="text-muted">"Ce livre a changé ma façon d'avancer, tu peux retrouver toutes mes notes juste ci-dessous"</div>
              <div class="mb-4 text-muted">- Harry Jmg</div>
            </div>
          </div>
          <h4 class="fw-bold mb-2 mt-5">Notes de Harry</h4>
          <div class="mb-4 text-muted">Essaie ULPS pour avoir accès aux notes personnelles de Harry.</div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-5">
          <h4 class="fw-bold">Commentaires</h4>
          <div class="mb-4 text-muted"><%= @episode.notes %></div>
        </div>
      </div>
    </div>
  </div>
</section>