
<div class="position-relative">
    <div class="container">
        <div class="row pt-5">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to "Tous les épisodes", episodes_path %></li>
                    <li class="breadcrumb-item active"><%= link_to @episode.book.categories.first.name, episodes_path(category_id: @episode.book.categories.first) %></li>
                </ol>
            </nav>
        </div>
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-3 ms-auto">
                <div class="mb-4" style="width: fit-content; margin-left:auto; margin-right:auto">
                <%= image_tag @episode.book.image_url, class: "img-fluid rounded-3 mb-3", width: "232px" %>
                <div class="d-grid gap-2">
                    <%= link_to "▶ Extrait", "#", onclick: "document.querySelector('#extract_player').style.display = 'block'; this.style.display = 'none'; return false;", class: "btn btn-light" %>
                    <div id="extract_player" style="display: none;">
                        <%= audio_tag @episode.preview_url, controls: true, style: " width: -webkit-fill-available;" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5 ms-auto">
            <div class="mb-5">
                <h2 class="display-6 fw-bold"><%= @episode.book.title %></h2>
                <% if @episode.book.subtitle %>
                    <div class="mb-4 lead text-muted"><%= @episode.book.subtitle %></div>
                <% end %>
                <div>Auteur: <span style="font-weight: 600"><%= @episode.book.author %></span></div>
                <div>Durée: <span style="font-weight: 600"><%= @episode.duration / 60 %> minutes</span></div>
                <div class="episode_categories">Catégorie:
                    <span style="font-weight: 600">
                        <%= @episode.book.categories.map { |c| link_to c.name, episodes_path(category_id: c) }.join(", ").html_safe %>
                    </span>
                </div>
                <div class="d-block" style="height: 24px;">
                    <%= form_for @episode, url: rates_path(episode_id: @episode), remote: true do |f| %>
                        <fieldset class="mt-2 rating" style="display: block">
                            <%= f.collection_radio_buttons :rounded_rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
                                <%= b.radio_button(:onclick => "this.closest('form').submit();") + b.label(class: "full") {''} %>
                            <% end %>
                        </fieldset>
                    <% end %>
                </div>
                <div class="mx-1 mt-2 d-block">
                    <small>Note moyenne: <%= @episode.rating.average.to_f %> (<%= pluralize @episode.rating.total, "avis" %>)</small>
                </div>
                <div class="mx-1 mt-3 d-block text-muted">
                    <small>Épisode publié le: <%= @episode.published_at.strftime("%d/%m/%Y") %></small>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 ms-auto">
            <%= render "episodes/episode/price_and_actions" %>
        </div>
    </div>
</div>
