<div class="mb-5">
    <% if @user_episode.present? %>
        <p>Ajouté à vos épisodes le: <br><span class="text-muted"><%= @user_episode.created_at.strftime("%d/%m/%Y") %></span></p>
        <div class="d-grid gap-2">
            <%= link_to "Écouter", "#", onclick: "document.querySelector('#audio_player').style.display = 'block'; this.style.display = 'none'; return false;", class: "btn btn-primary me-2 mb-2 mb-sm-0" %>
            <div id="audio_player" style="display: none;">
                <%= audio_tag @episode.mp3_url, controls: true %>
            </div>
        </div>
    <% elsif current_user && current_user.subscribed? %>
        <p>Prix: <%= price_str(@episode.price) %><br>ou 1 crédit ULPS</p>
        <div class="d-grid gap-2">
            <%= link_to "Obtenir maintenant pour 1 crédit", get_episode_url(@episode) , method: :post, class: "btn btn-primary me-2 mb-2 mb-sm-0" %>
        </div>
    <% else %>
        <div class="d-grid gap-2">
            <%= link_to "0,00 € avec l'offre d'essai", checkout_membership_path, class: "btn btn-primary me-2 mb-2 mb-sm-0" %>
        </div>
        <p class="text-muted mt-2" style="font-size: small">4,90 €/mois après 30 jours. Résilie quand tu veux.</p>
    <% end %>
</div>