<!DOCTYPE html>
<html>
  <head>
    <title>Ulps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name == 'checkouts' || controller_name == 'billing' %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "partials/navbar" unless @disabled_nav %>
    <%= yield %>
    <%= render "partials/footer" %>
    <%= console if Rails.env.development? %>
  </body>
</html>
