<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ULPS 📚</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% if controller_name == 'checkouts' || controller_name == 'billing' %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>

    <%= render "partials/scripts/fbpixel" %>
    <%= render "partials/scripts/gtag" %>
    <%= render "partials/scripts/hotjar" %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> mb-0 text-center">
        <%= value %>
      </div>
    <% end %>
    <%= render "partials/navbar" unless @disabled_nav %>
    <%= yield %>
    <%= render "partials/footer" %>
    <%= console if Rails.env.development? %>
  </body>
</html>
